<h3>
    <f:translate key="access_type.fe_login" />:
</h3>

<div class="row">
    <div class="col-xs-12 col-md-4">
        <label for="feLogin">
            <f:translate key="tx_fpfileprotector_domain_model_protection.fe_login" />:
        </label><br>
        <f:if condition="{protection.fe_login}">
            <f:then><span class="text-success"><f:translate key="general.yes" /></span></f:then>
            <f:else><span class="text-danger"><f:translate key="general.no" /></span></f:else>
        </f:if>
    </div>
    <f:if condition="{protection.fe_login}">
      <f:if condition="{protection.user_groups}">
        <div class="col-xs-12 col-md-4">
          <div class="form-group">
            <label for="userGroups">
              <f:translate key="tx_fpfileprotector_domain_model_protection.user_groups" />:
            </label>
            <ul>
              <f:for each="{protection.user_groups}" as="userGroup">
                <li>{userGroup.label}</li>
              </f:for>
            </ul>
          </div>
        </div>
      </f:if>
      <f:if condition="{protection.users}">
        <div class="col-xs-12 col-md-4">
          <div class="form-group">
            <label for="users">
              <f:translate key="tx_fpfileprotector_domain_model_protection.users" />:
            </label>
            <ul>
              <f:for each="{protection.users}" as="user">
                <li>{user.label}</li>
              </f:for>
            </ul>
          </div>
        </div>
      </f:if>
    </f:if>
</div>