<f:layout name="Default" />

<f:section name="main">
    <h2>Zugriffsschutz für Ordner <span class="text-info">{folder.name}</span></h2>

    <f:if condition="!{folder.storage.storageRecord.protected}">
        <f:if condition="{folder.protection}">
            <f:then>
                <div class="alert alert-danger">
                    <strong>Dieser Storage ist nicht geschützt!</strong><br>
                    Du hast zwar eine Zugriffsregel ageelgt, diese finden aber solange keine Anwendung, bis du diesen Storage als "Geschützten Storage" definierst.<br>
                    <f:link.action controller="FileStorage" action="list" class="btn btn-default btn-sm" style="color: #000; text-decoration: none; margin-top: 5px;">Zu den Storage Einstellung</f:link.action>
                </div>
            </f:then>
            <f:else>
                <div class="alert alert-warning">
                    <strong>Dieser Storage ist nicht geschützt!</strong><br>
                    Du kannst zwar Zugriffsregeln anlegen, diese finden aber solange keine Anwendung, bis du als "Geschützten Storage" definierst.<br>
                    <f:link.action controller="FileStorage" action="list" class="btn btn-default btn-sm" style="color: #000; text-decoration: none; margin-top: 5px;">Zu den Storage Einstellung</f:link.action>
                </div>
            </f:else>
        </f:if>
    </f:if>

    <div class="panel panel-default">
        <div class="panel-heading">
            <f:if condition="{folder.accessible}">
                <f:then>
                    <f:if condition="{folder.protected}">
                        <f:then>
                            <span class="text-warning"><i class="fa fa-fw fa-lock"></i> Dieser Ordner ist geschützt!</span>
                        </f:then>
                        <f:else>
                            <span class="text-success">
                                <f:if condition="{folder.protection}"><i class="fa fa-fw fa-unlock"></i> </f:if>Dieser Ordner ist nicht geschützt!
                            </span>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <span class="text-danger">Auf diesen Ordner kann nicht zugegriffen werden!</span>
                </f:else>
            </f:if>
        </div>
        <div class="panel-body">

            <f:if condition="{folder.accessible}">
                <f:then>
                    <f:if condition="{folder.protected}">
                        <f:then>
                            <f:if condition="{folder.ownProtection}">
                                <f:then>
                                    Du hast einen Zugriffsschutz für diesen Ordner angelegt.
                                </f:then>
                                <f:else>
                                    Dieser Ordner hat seinen Zugriffsschutz vom Ordner <f:link.action action="show" arguments="{combinedIdentifier : folder.protection.folderObject.combinedIdentifier}" class="text-info">{folder.protection.folderObject.name}</f:link.action> geerbt.
                                </f:else>
                            </f:if>
                            <div style="margin-top: 15px;">
                                <f:render partial="Protection/Properties" arguments="{protection : folder.protection}" />
                            </div>
                        </f:then>
                        <f:else>
                            <f:if condition="{folder.protection}">
                                <f:then>
                                    <f:if condition="{folder.ownProtection}">
                                        <f:then>
                                            Du hast zwar einen Zugriffsschutz für diesen Ordner angelegt, dieser enthält aber keine Bedingungen.
                                        </f:then>
                                        <f:else>
                                            Dieser Ordner hat seinen Zugriffsschutz vom Ordner <f:link.action action="show" arguments="{combinedIdentifier : folder.protection.folderObject.combinedIdentifier}" class="text-info">{folder.protection.folderObject.name}</f:link.action> geerbt, dieser enthält aber keine Bedingungen.
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>Du hast noch keinen Zugriffsschutz für diesen Ordner angelegt.</f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <f:if condition="{folder.protection}">
                        <f:then>
                            Für diesen Ordner ist zwar ein Zugriffsschutz definiert, dieser enthält aber keine Zugriffsbedingungen.<br>
                            Da der Storage so konfiguriert ist, dass Ordner ohne Zugriffsschutz gesperrt sind, kann niemand auf den Inhalt dieses Ordners zugreifen.
                        </f:then>
                        <f:else>
                            Für diesen Ordner ist noch keinen Zugriffsschutz definiert.<br>
                            Da der Storage so konfiguriert ist, dass Ordner ohne Zugriffsschutz gesperrt sind, kann niemand auf den Inhalt dieses Ordners zugreifen.
                        </f:else>
                    </f:if>
                </f:else>
            </f:if>
        </div>
        <div class="panel-body">
            <f:if condition="{folder.ownProtection}">
                <f:then>
                    <f:link.action controller="Protection" action="edit" arguments="{protection : folder.ownProtection}" class="btn btn-default">
                        <i class="fa fa-fw fa-edit"></i> Zugriffsschutz bearbeiten
                    </f:link.action>
                    <f:link.action controller="Protection" action="delete" arguments="{protection : folder.ownProtection}" class="btn btn-danger">
                        <i class="fa fa-fw fa-trash-o"></i> Zugriffsschutz löschen
                    </f:link.action>
                </f:then>
                <f:else>
                    <f:link.action controller="Protection" action="new" arguments="{combinedIdentifier : folder.combinedIdentifier}" class="btn btn-default">
                        <i class="fa fa-fw fa-plus"></i> Zugriffsschutz anlegen
                    </f:link.action>
                </f:else>
            </f:if>
        </div>
    </div>

    <f:if condition="{folder.subfolders -> f:count()}">
        <h2>Zugriffsschutz für Unterordner</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th><f:translate key="tx_fpfileprotector_domain_model_protection" /></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{folder.subfolders}" as="subfolder">
                <tr>
                    <td>{subfolder.name}</td>
                    <td>
                        <!-- ToDo -->
                    </td>
                    <td class="text-right">
                        <f:link.action action="show" arguments="{combinedIdentifier : subfolder.combinedIdentifier}" class="btn btn-default">
                            <i class="fa fa-fw fa-eye"></i>
                        </f:link.action>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </f:if>
</f:section>