<f:layout name="Default" />

<f:section name="main">
    <h2>Geschützte Ordner des Storages <span class="text-info">{fileStorage.name}</span></h2>

    <div style="display: flex; margin-bottom: 30px;">
        <div style="display: flex; align-items: center; margin-right: 20px;">
            <div style="height: 1.5em; width: 1.5em;" class="bg-success"></div>
            <div style="margin-left: 5px; line-height: 1.1em;">
                Zugriff frei möglich
                <div class="small">Auf diesen Ordner kann jede:r zugreifen.</div>
            </div>
        </div>
        <div style="display: flex; align-items: center; margin-right: 20px;">
            <div style="height: 1.5em; width: 1.5em;" class="bg-warning"></div>
            <div style="margin-left: 5px; line-height: 1.1em;">
                Zugriff nur mit Berechtigung
                <div class="small">Auf diesen Ordner können nur berechtigte Personen zugreifen.</div>
            </div>
        </div>
        <div style="display: flex; align-items: center;">
            <div style="height: 1.5em; width: 1.5em;" class="bg-danger"></div>
            <div style="margin-left: 5px; line-height: 1.1em;">
                Kein Zugriff
                <div class="small">Niemand kann auf diesen Ordner zugreifen.</div>
            </div>
        </div>
    </div>

    <ul>
        <f:render section="folder" arguments="{folder : fileStorage.rootLevelFolder}" />
    </ul>
</f:section>

<f:section name="folder">
    <li>
        <f:render section="label" arguments="{folder : folder}" />
    </li>
    <f:if condition="{folder.subfolders -> f:count()}">
        <ul>
            <f:for each="{folder.subfolders}" as="subfolder">
                <f:render section="folder" arguments="{folder : subfolder}" />
            </f:for>
        </ul>
    </f:if>
</f:section>

<f:section name="label">
    <f:link.action controller="Folder" action="show" arguments="{combinedIdentifier : folder.combinedIdentifier}" class="
        {f:if(condition : '!{folder.protected} && {folder.accessible}', then : 'text-success')}
        {f:if(condition : '{folder.protected}', then : 'text-warning')}
        {f:if(condition : '!{folder.accessible} && {folder.storage.protectedByDefault}', then : 'text-danger')}
    ">
        <f:if condition="{folder.name}">
            <f:then>
                {folder.name}
            </f:then>
            <f:else>
                <span class="small">(root)</span>
            </f:else>
        </f:if>
        <f:if condition="{folder.ownProtection}">
            <f:if condition="{folder.protected}">
                <f:then>
                    <i class="fa fa-fw fa-lock"></i>
                </f:then>
                <f:else>
                    <i class="fa fa-fw fa-unlock"></i>
                </f:else>
            </f:if>
        </f:if>
        <f:if condition="{folder.protected} && !{folder.ownProtection}">
            <span class="small">(geerbt)</span>
        </f:if>
    </f:link.action>
</f:section>