<f:layout name="Default" />

<f:section name="main">
    <h2>Storage {storage.name} bearbeiten</h2>

    <f:form action="update" arguments="{fileStorageUid : fileStorage.uid}">
        <f:render partial="FileStorage/FormFields" arguments="{fileStorage : fileStorage}" />

        <div>
            <f:link.action action="list" class="btn btn-default">Änderungen verwerfen</f:link.action>
            <f:form.button type="submit" class="btn btn-success">Änderungen übernehmen</f:form.button>
        </div>
    </f:form>
</f:section>